body {
  font-family: "Press Start 2P", cursive !important;
  
}
.bg {
  background-image: url(/img/1.jpg);
  min-height: 620px;
  max-height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
img {
  height: 70px;
}
.addBtn {
  font-size: 1.5rem;
  width: 100px;
}

.trashico {
  font-size: 20px;
}

ul li.checked::after {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked {
  color: #888;
  text-decoration: line-through;
}
.deleteicon {
  color: #811b14;
  margin-left: 1em;
  font-size: 1.5em;
}
ul li {
  color: #fff;
  list-style: none;
}
.check {
  background-color: green;
}
.delete {
  color: #fff;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: rgb(22, 206, 52);
  
}
.cards {
  display: flex;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;
}

.cards__item {
  /* There will be 4 cards per row */
  flex-basis: 25%;

  padding-left: 8px;
  padding-right: 8px;
}
